form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 9px;
    width: 80vw;
    height: 60vh;
    border: none;
    box-shadow: 2px 2px 8px gray;
    border-radius: 5px;
    bottom: 100px;

}
label{
    font-style: oblique;
}
input{
    height: auto;
    border: 2px solid rgb(230, 230, 230);
    border-radius: 5px;
}
button{
    font-size: 17px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: white;
    text-shadow: 2px 2px 2px black;
    height: 10%;
    border-radius: 8px;
    background-image: linear-gradient(to top, rgb(187, 59, 176),rgb(252, 175, 235));
    border: none;
    box-shadow: 2px 3px 8px black;
}
button:hover{
    background-color: purple;
    box-shadow: inset 0px -5px 6px rgb(110, 6, 110);
}

@media (min-width:480px) and (max-width:640px) {
    form{
        width: 50vw;
    }
}
@media (min-width:641px) and (max-width:780px) {
    form{
        width: 40vw;
    }
}
@media (min-width:781px) and (max-width:1010px) {
    form{
        width: 30vw;
    }
}
@media (min-width:1011px) and (max-width:1600px) {
    form{
        width: 25vw;
    }
}
@media (min-width:1601px) {
    form{
        width: 20vw;
    }
}
