.link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    margin-right: 8px;
    text-decoration: none;
    border-radius: 6px;
    background-image: linear-gradient(to bottom, rgb(250, 217, 242),rgb(234, 121, 244));


}
.link:active{
    color: black;
}
.link:hover{
    background-color: rgb(252, 225, 252);
    border: 1px solid gray;
}
.misEntornos{
font-style: italic;
}
h3 {
    display: inline-block;
    color: rgb(0, 0, 0);
    margin-left: 8px;
}
.cajaWork{
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    max-height: 400px;
    box-shadow: 10px 8px 8px rgb(195, 192, 192);
    background-image: linear-gradient(to right, rgb(142, 78, 149),rgb(251, 208, 255));

    
}
.work {
    display: flex;
    justify-content: space-between;
    border: 1PX solid rgb(216, 215, 215);
    border-radius: 4px;
    margin-bottom: 10px;
    margin-left: 5%;
    width: 90%;
    background-color: rgb(253, 235, 249);
    
}