*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
h1{
  font-size: 25px;
  margin-bottom: 2px;
  background-image:linear-gradient(to bottom, rgb(252, 205, 236), rgb(214, 114, 214)) ;
}
h2{
  font-size: 22px;
  margin-bottom: 2px;
  margin-left: 5px;

}
